@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anuphan", sans-serif;
}
:root {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.light {
  --bg-color: white;
  --text-color: black;
  --home-header-hover: rgb(247, 244, 244);
}
body.dark {
  --bg-color: black;
  --text-color: white;
  --home-header-hover: rgb(33, 32, 32);
}
ul,
li {
  list-style: none;
}
button {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  outline: none;
}
button:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

input {
  color: var(--text-color);
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #828080;
}
.active {
  font-weight: 700 !important;
}
.spinner {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: spinner 0.5s infinite linear;
  margin: auto;
  margin-top: 20vh;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
