._body_ {
  display: flex;
  width: 80vw;
  margin: auto;
}
@media (max-width: 1450px) {
  ._body_ {
    width: 90vw;
  }
}
@media (max-width: 1250px) {
  .navabr_nav {
    width: 100vw !important;
  }
  ._body_ {
    width: 100vw;
  }
  .profile span {
    display: none;
  }
  .profile p {
    display: none;
  }
  .profile {
    width: 50px;
  }
  .btn_show_more button {
    display: none;
  }
  ._side_bar_ {
    flex: 0.2 !important;
    overflow-x: hidden;
  }
  ._right_bar_ {
    display: none;
  }
}
@media (max-width: 750px) {
  .all_settings_required {
    display: grid;
    gap: 1rem;
    font-size: 15px !important;
  }
  .all_settings_required .profile:hover {
    background-color: rgb(237, 235, 235);
    border-radius: 50%;
    width: fit-content;
    color: black;
  }
  ._side_bar_ .sidebar_content .profile img {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
  }
  ._side_bar_ .sidebar_content .profile:first-child {
    border: 1px solid transparent !important;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px 5px !important;
  }
}
